# Archivos y carpetas de Python/Django que no deben subirse
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3

# Entorno virtual
venv/
env/

# Archivos de configuración local
*.log
*.env

# Archivos de Django
/media/
staticfiles/
